[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"madmom " = {git = "https://github.com/CPJKU/madmom.git"}
pandas = "*"
dtw-python = "*"
scikit-learn = "*"
matplotlib = "*"
nltk = "*"
tqdm = "*"
flask = "*"
yt-dlp = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.12"
